<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <MSDeployServiceURL>site56300.siteasp.net:443</MSDeployServiceURL>
    <DeployIisAppPath>example</DeployIisAppPath>
    <UserName>site56300</UserName>
    <Password>4x?RQ#3k-8sD</Password>
    <DestinationAppUrl>https://example.azurewebsites.net</DestinationAppUrl>
    <SiteName>example</SiteName>
    <PublishUrl>http://tonwly.runasp.net/</PublishUrl>
  </PropertyGroup>
</Project>

<?xml version="1.0" encoding="utf-8"?>
<publishData>
  <publishProfile
    profileName="site56300-WebDeploy"
    publishMethod="MSDeploy"
    publishUrl="site56300.siteasp.net"
    msdeploySite="site56300"
    userName="site56300"
    userPWD="4x?RQ#3k-8sD"
    destinationAppUrl="http://tonwly.runasp.net/"
    />
</publishData>